@page
@model BulkyWebRazor_Temp.Pages.Categories.IndexModel



<div class="container">
    <div class="row pt-4 pd-3">
        <div class="col-6">
            <h2 class="text-primary">类别表</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="/Categories/Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &ensp;创建新的类别
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>类别名称</th>
                <th>显示顺序</th>
                <th class="col-4"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var category in Model.CategoryList.OrderBy(c => c.DisplayOrder))
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.DisplayOrder</td>
                    <td class="text-center col-4">
                        <div class="w-50 btn-group" role="group">
                            <a asp-page="/Categories/edit" asp-route-id="@category.Id" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i> &ensp;编辑
                            </a>
                            <a asp-page="/Categories/delete" asp-route-id="@category.Id" class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i> &ensp;删除
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
