
<div class="card shadow border-0 my-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-1">公司表</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="row pd-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Company" asp-action="UpdateAndInsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &ensp;创建新的公司
                </a>
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped mt-3">
            <thead>
                <tr>
                    <th>公司名称</th>
                    <th>省份</th>
                    <th>城市</th>
                    <th>电话号码</th>
                    <th class="col-4"></th>
                </tr>
            </thead>

            <tbody>
                
            </tbody>
        </table>
    </div>
</div>


@section Scripts{
    <script src="~/js/company.js"></script>
}

